/* CourtsListStyle.css */

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Checkbox */
input[type="checkbox"] {
  cursor: pointer;
}

.view-btn {
  background-color: #374c7a;
  border-radius: 25px 30px;
  padding: 1px 20px;
  color: white;
  /* font-weight: bold; */
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
}
.edit-btn {
  background-color: #374c7a;
  border-radius: 25px 30px;
  padding: 1px 20px;
  color: white;
  /* font-weight: bold; */
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
}
.view-btn:hover {
  background-color: #b1c9eb;
  border-radius: 25px 30px;
}

.edit-btn:hover {
  background-color: #b1c9eb;
  border-radius: 25px 30px;
}

/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} 

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(20px);
} */
